<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Rover</title>
    <link
      href="{{ url_for('static', filename='css/dist/index.css') }}"
      rel="stylesheet"
    />
  </head>
  <body>
    <div class="bg-gray-800 h-screen flex">
      <div
        id="autonomy-toggle"
        class="rounded-xl bg-black opacity-30 p-4 text-center absolute bottom-0 right-0 m-4 hover:cursor-pointer"
      >
        <h3 class="text-white font-bold">autonomy</h3>
        <h3 id="autonomy-status" class="text-white font-bold text-xl">
          offline
        </h3>
      </div>
      <div id="sidebar" class="hidden p-4 bg-gray-900 w-1/3 overflow-y-scroll">
        <div class="mb-4 text-center">
          <h3 class="text-white font-bold">map</h3>
          <div id="map" class=""></div>
        </div>
        <div class="grid grid-cols-2 gap-4">
          <!-- 0 -->
          <div class="rounded-xl bg-gray-800 p-4 text-center">
            <h3 class="text-white font-bold">speed</h3>
            <h3 class="text-white font-bold text-xl">22 m/s</h3>
          </div>
          <!-- test -->
          <div class="rounded-xl bg-gray-800 p-4 text-center">
            <h3 class="text-white font-bold">speed</h3>
            <h3 class="text-white font-bold text-xl">22 m/s</h3>
          </div>
          <div class="rounded-xl bg-gray-800 p-4 text-center">
            <h3 class="text-white font-bold">speed</h3>
            <h3 class="text-white font-bold text-xl">22 m/s</h3>
          </div>
          <div class="rounded-xl bg-gray-800 p-4 text-center">
            <h3 class="text-white font-bold">speed</h3>
            <h3 class="text-white font-bold text-xl">22 m/s</h3>
          </div>
          <div class="rounded-xl bg-gray-800 p-4 text-center">
            <h3 class="text-white font-bold">speed</h3>
            <h3 class="text-white font-bold text-xl">22 m/s</h3>
          </div>
          <div class="rounded-xl bg-gray-800 p-4 text-center">
            <h3 class="text-white font-bold">speed</h3>
            <h3 class="text-white font-bold text-xl">22 m/s</h3>
          </div>
          <div class="rounded-xl bg-gray-800 p-4 text-center">
            <h3 class="text-white font-bold">speed</h3>
            <h3 class="text-white font-bold text-xl">22 m/s</h3>
          </div>
          <div class="rounded-xl bg-gray-800 p-4 text-center">
            <h3 class="text-white font-bold">speed</h3>
            <h3 class="text-white font-bold text-xl">22 m/s</h3>
          </div>
          <div class="rounded-xl bg-gray-800 p-4 text-center">
            <h3 class="text-white font-bold">speed</h3>
            <h3 class="text-white font-bold text-xl">22 m/s</h3>
          </div>
          <div class="rounded-xl bg-gray-800 p-4 text-center">
            <h3 class="text-white font-bold">speed</h3>
            <h3 class="text-white font-bold text-xl">22 m/s</h3>
          </div>
          <div class="rounded-xl bg-gray-800 p-4 text-center">
            <h3 class="text-white font-bold">speed</h3>
            <h3 class="text-white font-bold text-xl">22 m/s</h3>
          </div>
          <div class="rounded-xl bg-gray-800 p-4 text-center">
            <h3 class="text-white font-bold">speed</h3>
            <h3 class="text-white font-bold text-xl">22 m/s</h3>
          </div>
          <div class="rounded-xl bg-gray-800 p-4 text-center">
            <h3 class="text-white font-bold">speed</h3>
            <h3 class="text-white font-bold text-xl">22 m/s</h3>
          </div>
          <div class="rounded-xl bg-gray-800 p-4 text-center">
            <h3 class="text-white font-bold">speed</h3>
            <h3 class="text-white font-bold text-xl">22 m/s</h3>
          </div>
          <div class="rounded-xl bg-gray-800 p-4 text-center">
            <h3 class="text-white font-bold">speed</h3>
            <h3 class="text-white font-bold text-xl">22 m/s</h3>
          </div>
          <div class="rounded-xl bg-gray-800 p-4 text-center">
            <h3 class="text-white font-bold">speed</h3>
            <h3 class="text-white font-bold text-xl">22 m/s</h3>
          </div>
          <div class="rounded-xl bg-gray-800 p-4 text-center">
            <h3 class="text-white font-bold">speed</h3>
            <h3 class="text-white font-bold text-xl">22 m/s</h3>
          </div>
          <div class="rounded-xl bg-gray-800 p-4 text-center">
            <h3 class="text-white font-bold">speed</h3>
            <h3 class="text-white font-bold text-xl">22 m/s</h3>
          </div>
          <div class="rounded-xl bg-gray-800 p-4 text-center">
            <h3 class="text-white font-bold">speed</h3>
            <h3 class="text-white font-bold text-xl">22 m/s</h3>
          </div>
          <div class="rounded-xl bg-gray-800 p-4 text-center">
            <h3 class="text-white font-bold">speed</h3>
            <h3 class="text-white font-bold text-xl">22 m/s</h3>
          </div>
          <!-- test -->
        </div>
      </div>
      <div class="flex-1 items-center w-full">
        <div
          id="hud"
          class="h-screen w-full p-4"
          style="
            background-image: url(/api/video-feed);
            background-repeat: no-repeat;
            background-size: cover;
          "
        >
          <div class="flex justify-between">
            <div>
              <div
                id="sidebar-toggle"
                class="hover:cursor-pointer bg-black opacity-30 rounded-full p-2"
              >
                <svg
                  xmlns="http://www.w3.org/2000/svg"
                  width="50"
                  height="50"
                  fill="white"
                  class="bi bi-list"
                  viewBox="0 0 16 16"
                >
                  <path
                    fill-rule="evenodd"
                    d="M2.5 12a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5zm0-4a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5zm0-4a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5z"
                  />
                </svg>
              </div>
            </div>
            <div class="flex space-x-4">
              <div
                id="overlay-toggle"
                class="hover:cursor-pointer bg-black opacity-30 rounded-full p-2"
              >
                <svg
                  xmlns="http://www.w3.org/2000/svg"
                  width="50"
                  height="50"
                  fill="white"
                  class="bi bi-layers-fill"
                  viewBox="0 0 16 16"
                >
                  <path
                    d="M7.765 1.559a.5.5 0 0 1 .47 0l7.5 4a.5.5 0 0 1 0 .882l-7.5 4a.5.5 0 0 1-.47 0l-7.5-4a.5.5 0 0 1 0-.882l7.5-4z"
                  />
                  <path
                    d="m2.125 8.567-1.86.992a.5.5 0 0 0 0 .882l7.5 4a.5.5 0 0 0 .47 0l7.5-4a.5.5 0 0 0 0-.882l-1.86-.992-5.17 2.756a1.5 1.5 0 0 1-1.41 0l-5.17-2.756z"
                  />
                </svg>
              </div>
              <div
                id="hud-toggle"
                class="hover:cursor-pointer bg-black opacity-30 rounded-full p-2"
              >
                <svg
                  xmlns="http://www.w3.org/2000/svg"
                  width="50"
                  height="50"
                  fill="white"
                  class="bi bi-eye-fill"
                  viewBox="0 0 16 16"
                >
                  <path d="M10.5 8a2.5 2.5 0 1 1-5 0 2.5 2.5 0 0 1 5 0z" />
                  <path
                    d="M0 8s3-5.5 8-5.5S16 8 16 8s-3 5.5-8 5.5S0 8 0 8zm8 3.5a3.5 3.5 0 1 0 0-7 3.5 3.5 0 0 0 0 7z"
                  />
                </svg>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <script
      type="module"
      src="{{ url_for('static', filename='js/index.js') }}"
    ></script>
    <script
      type="text/javascript"
      src="{{ url_for('static', filename='js/sideBar.js') }}"
    ></script>
    <script
      type="text/javascript"
      src="{{ url_for('static', filename='node_modules/plotly.js-dist-min/plotly.min.js') }}"
    ></script>
    <script
      type="module"
      src="{{ url_for('static', filename='js/map.js') }}"
    ></script>
  </body>
</html>
